@media screen and (max-width: 960px) {
    .navbar a {
        font-size: 0.80rem;
    }
    .hero h1 {
        font-size: 6rem;
    }
    .hero h2 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 660px) {
    .emailLink,
    .socialLinks {
        display: none!important;
    }
    .sociallinksFooter {
        display: block;
    }
}

@media screen and (max-width: 560px) {
    .hero h1 {
        font-size: 4.5rem;
    }
    .hero h2 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 450px) {
    #vragen ul li {
        font-size: 0.9rem !important;
    }
}

@media screen and (max-width: 400px) {
    .hero h1 {
        font-size: 3.5rem;
    }
    .hero h2 {
        font-size: 1.5rem;
    }
}